	:root {
	    --theme-color: gray;
	    --text-color: black;
	    --else-color: #09D4F6;
	}
	
	* {
	    font-family: 'Acme', sans-serif;
	}
	
	#characterOverview {
	    float: right;
	    height: 95vh;
	    width: 19vw;
	    position: fixed;
	    right: 1vw;
	    top: 2.5vh;
	    overflow-y: scroll;
	    border: black 1px solid;
	}
	
	.collapseButton {
	    height: 10px;
	    width: 10px;
	    font-size: small;
	    padding: 0;
	    background-color: transparent;
	    border: 0;
	    outline: none !important;
	    box-shadow: none;
	    /* 	    position: relative;
	    top: -5px; */
	}
	
	.listNone {
	    list-style: none;
	}
	
	.rel {
	    position: relative;
	    top: -5px;
	}
	
	#collapseIntro {
	    background-color: rgb(221, 152, 87);
	    border-radius: 15px;
	    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.445);
	}
	
	.statBox {
	    height: 70px;
	    width: 50px;
	    border: solid 1px black;
	    font-size: small;
	}
	
	.statName {
	    margin: 0;
	}
	
	.statMod {
	    margin: 0;
	}
	
	.statTotal {
	    font-size: 22px;
	    margin: 0;
	    padding: 0;
	}
	
	.dropdown-menu {
	    overflow-y: auto;
	    max-height: 80vh
	}
	
	.choiceBG {
	    background-color: #F2F2F2
	}
	
	.addedChoice {
	    color: #2ac51c;
	}
	
	.navbar {
	    border: 5px solid var(--else-color);
	    display: flex;
	    background-color: yellowgreen;
	}
	
	hr.class-2 {
	    border-top: 3px double black;
	}
	
	@media all and (max-width: 600px) {
	    .container {
	        flex-wrap: wrap;
	    }
	    .container>li {
	        flex: 1 1 50%;
	    }
	    .search>input {
	        text-align: center;
	    }
	}
	
	#name:hover,
	#gender:hover,
	#class:hover,
	#race:hover,
	#background:hover {
	    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	    border-radius: 5px;
	    /* transform: scale(1.5);*/
	    transition: 0.3s;
	    /* position: fixed;
		left: 10%; */
	}
	
	a:hover {
	    color: var(--text-color);
	}
	
	#mh {
	    display: block;
	    margin: auto;
	    width: fit-content;
	}